.blog {
    padding-top: 95px;
    padding-bottom: 107px;
    background-color: var(--light-grey-color);
    &__top {
        display: flex;
        gap: 60px;
        margin-bottom: 60px;
        
    }
    

    &__items {
        display: flex;
        gap: 47px;
    }
}

.blog-slider {
    max-width: 500px;
    overflow: hidden;
    .blog-item {
        width: 300px;
    }
}

@media (max-width: 1200px) {
    .blog__items {
        gap: 20px;
    }
}