.blog {
    padding-top: 95px;
    padding-bottom: 107px;
    background-color: var(--light-grey-color);
    &__title {
        margin-bottom: 62px;
    }

    &__items {
        display: flex;
        gap: 47px;
    }
}

@media (max-width: 1200px) {
    .blog__items {
        gap: 20px;
    }
}