.order-modal__item {
    width: 100%;
    &-data {
        padding: 25px 0;
        border-top: 1px solid #EDEDED;
        .order-modal__item-img {
            width: 75px;
            height: 75px;
            border-radius: 15px;
        }
        &.name {
            font-size: 14px;
            font-weight: 400;
            line-height: 26px;
            padding-left: 22px;
            width: 30%;
            
        }

        &.date {
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            padding: 0 30px;
        }

        &.price {
            font-size: 17px;
            font-style: normal;
            font-weight: 600;
            line-height: 26px;
        }
    }

    &-title {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px; 
    }

}

@media (max-width: 700px) {
    .order-modal__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-top: 1px solid #EDEDED;
        padding: 10px 0;
        &-data {
            width: 100%;
            border-top: 1px solid transparent;
            padding: 10px 0;
            &.name {
                width: 100%;
            }
            .order-modal__item-img{
                margin: 0 auto;
            }
            &.amount {
                .counter {
                    justify-content: center;
                }
            }
        }
    }
}