.reviews__item {
    display: flex;
    gap: 41px;
    align-items: flex-start;
    &-img {
    }
    &-info {
        max-width: 570px;
    }
    &-name {
        padding-bottom: 16px;
        border-bottom: 1px solid #EBEBEB;
        margin-bottom: 8px;
        font-weight: 500;
    }
    &-about {
        padding-bottom: 11px;
        margin-bottom: 16px;
        border-bottom: 1px solid #EBEBEB;
        display: flex;
        gap: 50px;
        color: #7B7B7B;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        .reviews__item-tour {
            
            span {
                color: var(--black-color);
                text-decoration-line: underline;
            }
        }
        .reviews__item-rate {
            display: flex;
            align-items: center;
            gap: 14px;
        }
    }
    
    &-text {
        font-size: 16px;
        line-height: 26px;
    }
}

@media (max-width: 1000px) {
    .reviews__item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
