.direction-select__form {
    position: relative;
    display: inline-block;
    
        &::after {
            position: absolute;
            content: '';
            background-image: url('./arrow.svg');
            background-repeat: no-repeat;
            width: 7px;
            height: 7px;
            top: 50%;
            transform: translateY(-50%);
            right: 23px;
        }
    .direction-select {
        padding: 14px 23px;
        border-radius: 10px;
        border: 1px solid #E6E6E6;
        margin-right: 30px;
        cursor: pointer;
        &__item {
    
        }
    }
}
