.promo {
    margin-bottom: 95px;
    &__inner {
        border-radius: 20px;
        position: relative;
        background-image: url('./images/promo.png');
        min-height: calc(100vh - 110px);
        padding-top: 123px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 62px;
        .promo__title {
            text-align: center;
            font-size: 42px;
            font-weight: 900;
            line-height: 52px; 
            position: relative;
            padding-bottom: 41px;
            max-width: 550px;
            margin: 0 auto;
            margin-bottom: 8px;
            &::after {
                position: absolute;
                content: '';
                background-image: url('./images/title.png');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                height: 41px;
                width: 50%;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .promo__text {
            font-size: 16px;
            margin-bottom: 48px;
        }
        .promo__form {
            width: 780px;
            background-color: #fff;
            padding: 10px 10px 10px 23px;
            border-radius: 100px;
            box-shadow: 0px 42px 80px 0px rgba(0, 0, 0, 0.25);
            margin-bottom: 130px;
            display: flex;
            align-items: center;
            &-field {
                width: 38%;
                position: relative;
                padding-left: 37px;
                padding-right: 28px;
                &::before {
                    position: absolute;
                    content: '';
                    background-position: center;
                    background-repeat: no-repeat;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                    border-radius: 50%;
                    border: 1px solid #DBDBDB;
                    width: 37px;
                    height: 37px;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &.location {
                    &::before {
                        background-image: url('./images/location.svg');
                    }
                }

                &.date {
                    &::before {
                        background-image: url('./images/date.svg');
                    }
                }
            }
            &-input {
                padding: 8px 0;
                position: relative;
                width: 100%;
                padding-left: 18px;
                border: none;
            }
            &-btn {
                width: 134px;
                padding: 20px 30px 20px 54px;
                font-weight: 500;
                position: relative;
                display: block;
                margin-left: auto;
                &::before {
                    position: absolute;
                    content: '';
                    background-image: url('./images/find.svg');
                    background-repeat: no-repeat;
                    left: 30px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 15px;
                    height: 15px;
                }
            }
        }
        
        .promo__prompts {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 19px;
            max-width: 50%;
            margin: 0 auto;
            flex-wrap: wrap;
            &-items {
                display: flex;
                align-items: center;
                gap: 15px;
                flex-wrap: wrap;
                justify-content: center;
            }
            .promo__prompt {
                padding: 6px 14px;
                border-radius: 30px;
                background-color: rgba(37, 37, 37, 0.15);
                color: #fff;
                transition: all 0.3s;
                &:hover {
                    background-color: var(--yellow-color);
                    color: var(--black-color);
                }
            }
        }
    }
}

@media (max-width: 920px) {
    .promo {
        &__inner {
            .promo__form {
                border-radius: 20px;
                max-width: 60%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                &-field {
                    width: 100%;
                    margin-bottom: 11px;
                    
                    &.location {
                        border-bottom: 1px solid #EBEBEB;
                        padding-bottom: 11px;
                    }
                }
                &-input {
                    padding-bottom: 11px;
                }
                &-btn {
                    width: 100%;
                    margin-left: 0;
                }
            }
        }
    }
}

@media (max-width: 750px) {
    .promo {
        &__inner {
            .promo__title {
                font-size: 33px;
                line-height: 40px;
            }
            .promo__form {
                max-width: 80%;
            }
        }
    }
}

@media (max-width: 500px) {
    .promo {
        &__inner {
            .promo__title {
                font-size: 22px;
                font-style: normal;
                font-weight: 900;
                line-height: 32px;
                max-width: 90%;
                margin: 0 auto;
                text-align: center;
            }
            .promo__text {
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                text-align: center;
            }
            .promo__form {
                max-width: 90%;
            }
        }
    }
}



