.user {
    position: relative;
    width: 210px;
    display: none;
    &.logged {
        display: block;
    }
    &-info {
        display: flex;
        align-items: center;
        gap: 11px;
        position: relative;
        padding-right: 15px;
        cursor: pointer;
        &__img {
            background-color: var(--dark-grey-color);
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        &__name {
        }
        &::after {
            position: absolute;
            content: '';
            background-image: url('./arrow.svg');
            width: 8px;
            height: 8px;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
        }
    }
    
    &-menu {
        position: absolute;
        bottom: -185px;
        font-weight: 500;
        border-radius: 15px;
        box-shadow: 0 7px 100px 0 rgba(0, 0, 0, 0.15);
        padding: 19px 22px;
        display: none;
        &.show {
            display: block;
        }
        &__list {
            &-item {
                padding: 7px 0;
                border-bottom: 1px solid #ececec;

            }
            &-link {
            }
        }
        
    }
    
}

@media(max-width: 750px) {
    .user {
        width: auto;
        &-info {
            &__name {
                display: none;
            }

            &__img {
                width: 40px;
                height: 40px;
            }
        }
    }
}
