.slider {
    margin: 0 auto;
    overflow: hidden;
    max-width: 100%;
    &-wrapper {
        white-space: nowrap;
        transition: ease 1000ms;
        .slide {
            display: inline-block;
            width: 100%;
            transition: transform 0.3s ease-in-out;
        }
    }

    &-buttons {
        display: flex;
        gap: 14px;
        align-items: center;
    }

    &-dots {
        height: 10px;
        display: flex;
        align-items: center;
        gap: 13px;
        &__item {
            width: 12px;
            height: 12px;
            background-color: #000;
            border-radius: 50%;
            &.active {
                background-color: var(--yellow-color);
            }
        }
    }

    
}

