.paddination {
    display: flex;
    align-items: center;
    width: 372px;
    margin: 0 auto;
    border-radius: 100px;
    background-color: #F5F5F5;
    padding: 9px 22px;
    &__btn {
    }
    &__list {
        display: flex;
        align-items: center;
        gap: 5;
        
        .paddination__list-item {
            width: 32px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            &.active {
                background-color: var(--yellow-color);
                border-radius: 50%;
            }
            .paddination__list-link {
                color: #1E1E1E;
                font-size: 13px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }
}


