.directions {
    padding-bottom: 50px;
    margin-bottom: 62px;
    &__title {
        margin-bottom: 17px;
    }

    &__text {
        margin-bottom: 64px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }
}

.excursions {
    padding-bottom: 54px;
    margin-bottom: 50px;
    &__title {
        display: inline-block;
        margin-bottom: 77px;
        margin-right: 54px;
    }

    &__input {
        margin-right: 29px;
        border-radius: 10px;
        border: 1px solid #E6E6E6;
        padding: 14px 23px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 36px;
        grid-row-gap: 30px;
        margin-bottom: 73px;
    }

    &__btn {
        display: block;
        padding: 18px;
        text-align: center;
        width: 195px;
        margin: 0 auto;
        font-weight: 500;
        color: #000;
    }
}

.reviews {
    padding: 70px 100px 75px 100px;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow: 0px 27px 31px 0px rgba(0, 0, 0, 0.02);
    margin-bottom: 114px;
    &__inner {
        display: flex;
        justify-content: space-between;
        .reviews__info {
            .reviews__title {
                margin-bottom: 21px;
            }

            .reviews__descr {
                max-width: 320px;
                margin-bottom: 69px;
            }

            .reviews__btn {
                padding: 19px 26px;
                color: #000;
                font-size: 15px;
                font-weight: 500;
                text-align: center;
            }
        }
    }
}

.blog {
    padding-top: 95px;
    padding-bottom: 107px;
    background-color: var(--light-grey-color);
    &__title {
        margin-bottom: 62px;
    }

    &__items {
        display: flex;
        gap: 47px;
    }
}