.directions {
    padding-bottom: 50px;
    margin-bottom: 62px;
    &__title {
        margin-bottom: 17px;
    }

    &__text {
        margin-bottom: 64px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }
}

.excursions {
    padding-bottom: 54px;
    margin-bottom: 50px;
    &__title {

    }

    &__input {

    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 36px;
        grid-row-gap: 30px;
        margin-bottom: 73px;
    }

    &__btn {
        display: block;
        padding: 18px;
        text-align: center;
        width: 195px;
        margin: 0 auto;
        font-weight: 500;
        color: #000;
    }
}