.date-input__form {
    position: relative;
    display: inline-block;
    position: relative;
        &::after {
            position: absolute;
            content: '';
            background-image: url('./calendar.svg');
            background-repeat: no-repeat;
            width: 15px;
            height: 15px;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
        }
    .date__input {
        padding: 14px 23px;
        border-radius: 10px;
        border: 1px solid #E6E6E6;
        cursor: pointer;
        
    }

    .calendar {
        position: absolute;
        right: 0;
        bottom: -470px;
    }
}

