//fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');


//modules
@import './base/media';
@import './base/mixins';
@import './base/reset';
@import './base/vars';

:root {
    --black-color: #252525;
    --grey-color: #ADADAD;
    --dark-grey-color: #454545;
    --yellow-color: #FFD600;
    --light-grey-color: #F5F5F5;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    color: var(--black-color);
}

.container {
    max-width: 1460px;
    padding: 0 10px;
    margin: 0 auto;
}

.page__title {
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
}

.section__title {
    font-size: 36px;
    font-weight: 800;
}

.main-btn {
    border-radius: 100px;
    background-color: var(--yellow-color);
}

.modal {
    &__content {
        margin: 0 auto;
        position: relative;
    }

    &-close__btn {
        position: absolute;
        right: 0;
        top: 0;
    }

    &__title {
        margin-bottom: 29px;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .modal__form {
        &-input {
            padding: 19px 27px;
            border-radius: 10px;
            background-color: #F1F1F1;
            margin-bottom: 15px;
            display: block;
            width: 100%;
            border: none;
            &::placeholder {
                color: #424242;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            &:last-child {
                margin-bottom: 20px;
            }
        }

        &-btn {
            padding: 16px;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            width: 100%;
            border-radius: 10px;
            background-color: #F1F1F1;
        }
    }
}



