//fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');


//modules
@import './base/media';
@import './base/mixins';
@import './base/reset';
@import './base/vars';

:root {
    --black-color: #252525;
    --grey-color: #ADADAD;
    --dark-grey-color: #454545;
    --yellow-color: #FFD600;
    --light-grey-color: #F5F5F5;
    --pink-color: #FFD0D0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    color: var(--black-color);
}

.container {
    max-width: 1460px;
    padding: 0 10px;
    margin: 0 auto;
}

.page__title {
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
}

.section__title {
    font-size: 36px;
    font-weight: 800;
    line-height: 45px;
}

.main-btn {
    border-radius: 100px;
    background-color: var(--yellow-color);
}

.modal {
    display: none;
    &.active {
        display: block;
    }
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(37, 37, 37, 0.5);
    &__content {
        margin: 0 auto;
        margin-top: 50px;
        position: relative;
        background-color: #fff;
        padding: 44px 46px;
        border-radius: 20px;
    }

    &-close__btn {
        position: absolute;
        right: 18px;
        top: 18px;
        font-size: 25px;
    }

    &__title {
        margin-bottom: 29px;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .modal__form {
        &-input {
            padding: 19px 27px;
            border-radius: 10px;
            background-color: #F1F1F1;
            margin-bottom: 15px;
            display: block;
            width: 100%;
            border: none;
            &::placeholder {
                color: #424242;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            &:last-child {
                margin-bottom: 20px;
            }
        }

        &-btn {
            padding: 16px;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            width: 100%;
            border-radius: 10px;
            background-color: #F1F1F1;
        }
    }
}

@media (max-width: 600px) {
    .modal {
        &__title {
            font-size: 23px;
            line-height: 30px;
        }
        &__content {
            padding: 20px 25px;
        }

        .modal__form {
            &-input {
                padding: 10px 15px;
            }
        }
    }
}
@media (max-width: 500px) {
    .section__title {
        font-size: 26px;
        line-height: 35px;
    }

    .page__title {
        font-size: 32px;
        line-height: 40px;
    }
}



