.details__item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 21px;
    padding-top: 15px;
    border-bottom: 1px solid #DFDFDF;
    color: var(--dark-grey-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; 
    &-name {
        
    }

    &-price {
        font-weight: 600;
    }
}