.select-input {
    display: block;
    border-radius: 1000px;
    background-color: #f5f5f5;
    font-size: 14px;
    line-height: 186%;
    color: #454545;
    padding: 10px 23px;
    border: none;
    &__item {
        
    }
}

@media(max-width: 410px) {
    .select-input {
        padding: 10px 6px;
    }
}