.footer {
    background-color: #FBFBFB;
    padding-top: 79px;
    .footer__inner {
        display: flex;
        justify-content: space-between;
        padding-bottom: 79px;
        .footer__about {
            .footer__logo {
                display: block;
                margin-top: 4px;
                margin-bottom: 44px;
            }
            .footer__about-text {
                max-width: 146px;
                margin-bottom: 19px;
            }
            .footer__app {
                display: flex;
                flex-wrap: wrap;
                gap: 9px;
                .footer__app-link {
                }
            }
        }
        
        
        .footer__list {
            max-width: 264px;
            .footer__list-title {
                margin-bottom: 19px;
                font-size: 16px;
                font-weight: 600;
                line-height: 30px; 
            }
            .footer__list-item {
                font-size: 14px;
                line-height: 25px; 
                margin-bottom: 10px;
            }
            .footer__list-link {
            }
        }
        
        .footer__contacts {
            max-width: 330px;
            .footer__list-title {
                margin-bottom: 19px;
                font-size: 16px;
                font-weight: 600;
                line-height: 30px; 
            }
            .footer__contacts-list {
                margin-bottom: 40px;
            }
            .footer__contacts-item {
                margin-bottom: 15px;
            }
            .footer__contacts-link {
                font-size: 14px;
                font-weight: 400;
                padding-left: 20px;
                position: relative;
                &::before {
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 12px;
                    height: 12px;
                    
                    background-repeat: no-repeat;
                }
                &.phone::before {
                    background-image: url('./images/phone.svg');
                }
                &.mail::before {
                    background-image: url('./images/mail.svg');
                }
                &.location::before {
                    top: 2px;
                    transform: translateY(0);
                    background-image: url('./images/location.svg');
                }
                span {
                    font-size: 14px;
                    font-weight: 600;
                }
            }
            .social__items {
                display: flex;
                gap: 17px;
                .social__item-link {
                    width: 40px;
                    height: 40px;
                    border-radius: 5px;
                    border: 1px solid #DFDFDF;
                    background-color: #FBFBFB;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    .footer__bottom {
        display: flex;
        align-items: center;
        padding: 20px 0;
        border-top: 1px solid #E2E2E2;
        justify-content: flex-end;
        .footer__bottom-text {
            font-size: 13px;
            font-weight: 400;
            line-height: 35px;
        }
        .footer__bottom-img.payment {
            margin-left: auto;
        }
        .footer__bottom-dev {
            margin-left: 76px;
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
    
}

@media (max-width: 1300px) {
    .footer {
        .footer__inner {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 30px;
            max-width: 80%;
            margin: 0 auto;
            .footer__contacts {
                grid-column: 1/5;
                justify-self: center;
                text-align: center;
                .social__items {
                    justify-content: center;
                }
            }
        }

    }
}

@media (max-width: 1000px) {
    .footer {
        .footer__inner {
            max-width: 90%;
        }

    }
}

@media (max-width: 900px) {
    .footer {
        .footer__inner {
            max-width: 100%;
        }
        .footer__bottom {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .payment {
                display: none;
            }
            .footer__bottom-dev {
                margin-left: 0;
            }
        }

    }
}

@media (max-width: 750px) {
    .footer {
        .footer__inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            .footer__about {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

    }
}

@media (max-width: 500px) {
    .footer {
        padding-top: 30px;
        .footer__inner {
            padding-bottom: 30px;
            .footer__about {
                width: 100%;
                padding-bottom: 26px;
                border-bottom: 1px solid #E2E2E2;
                .footer__logo {
                    margin-bottom: 0;
                }
                &-text {
                    display: none;
                }
                .footer__app {
                    display: none;
                }
            }
            .footer__list {
                display: none;
            }
        }
    }
}





