.city {
    padding-top: 80px;
    padding-bottom: 50px;
    margin-bottom: 76px;
    &__title {
        margin-bottom: 20px;

    }

    &__text {
        margin-bottom: 59px;

    }

    .date__input {
        margin-bottom: 68px;

    }
    

    &__excursions {
        .direction-select__form {
            display: none;
        }
        .date-input__form {
            display: none;
        }

        .excursions__btn {
            display: none;
        }
     
        &-btn {
            display: block;
            width: 200px;
            border-radius: 100px;
            border: 1px dashed #BABABA;
            margin: 0 auto;
            padding: 18px 33px;
            text-align: center;
            
        }
    }
}

@media (max-width: 1000px) {
    .excursion-filter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__item {
            width: 60%;
            margin: 0 auto;
        }
    }
}