.contacts {
    max-width: 390px;
    padding: 17px 23px 22px 28px;
    border-radius: 15px;
    background-color: #fff;
    position: absolute;
    top: -12px;
    right: 30%;
    &__text {
        margin-bottom: 16px;
    }
    &__links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 14px;
        grid-row-gap: 16px;
        .contacts__btn {
            border-radius: 100px;
            padding: 14px 25px;
            color: #fff;
            font-size: 14px;
            &.whatsapp {
                background-color: #4CAF50;;
            }
            
            &.tg {
                background-color: #039BE5;;
            }
            
        }
        
        .contacts__link-img {
            display: inline-block;
        }
        
        .contacts__link {
        }
        
    }
    
}
