.registration-modal {
    max-width: 480px;
}

@media (max-width: 600px) {
    .registration-modal {
        max-width: 80%;
    }
}

@media (max-width: 400px) {
    .registration-modal {
        max-width: 90%;
    }
}